[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
rope = "*"
pytest = "*"
pylint = "*"
mypy = "*"
jupyter = "*"
deepdiff = "*"
pygments = "*"

[packages]
deprecated = "*"
requests = "*"
pydantic = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
