[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "~=0.28.0"
isort = {extras = ["pipfile"],version = "~=4.3.21"}
rope = "~=0.14"
pytest = "~=5.0.1"
pytest-cov = "*"
pytest-mock = "*"
pylint = "~=2.4.3"
mypy = "!=0.740"
jupyter = "~=1.0"
deepdiff = "~=4.0.9"
pygments = "~=2.4"

[packages]
requests = "~=2.22.0"
pydantic = "~=0.30.1"
pyyaml = "~=5.1.1"
psutil = "~=5.6.3"
pywin32 = "!=226"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest --cov=. --cov-report=xml --no-cov-on-fail -m 'not uses_copyright_material'"
tests-nogame = "pytest --cov=. --cov-report=xml --no-cov-on-fail -m 'not uses_copyright_material and not requires_game'"
tests-nocov = "pytest -m 'not uses_copyright_material'"
tests-nogame-nocov = "pytest -m 'not uses_copyright_material and not requires_game'"
mypy = "mypy ."
pylint = "pylint ark automate tests ue utils"
i = "ipython -i -m interactive interactive/setup.py"
perf-species = "python -m cProfile -o automate.prof -m automate --skip-install --skip-extract-wiki"
perf-maps = "python -m cProfile -o automate.prof -m automate --skip-install --skip-extract-asb --skip-spawn-data"
perf-view = "snakeviz automate.prof"
