[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "~=0.30.0"
isort = {extras = ["pipfile"],version = "~=4.3.21"}
rope = "~=0.14"
pytest = "~=6.1.2"
pytest-cov = "*"
pytest-mock = "*"
pylint = "~=2.6.0"
mypy = "!=0.740"
pygments = "~=2.4"
guppy3 = "~=3.0.8"
pre-commit = "~=2.4.0"

[packages]
requests = "~=2.24.0"
pydantic = "~=1.6.1"
pyyaml = "~=5.3"
psutil = "~=5.6.6"
flake8 = "~=3.8.2"

[requires]
python_version = "3.7"

[scripts]
check = "pipenv check"
tests = "pytest --cov=. --cov-report=xml --no-cov-on-fail -m 'not uses_copyright_material'"
tests-nogame = "pytest --cov=. --cov-report=xml --no-cov-on-fail -m 'not uses_copyright_material and not requires_game'"
tests-nocov = "pytest -m 'not uses_copyright_material'"
tests-nogame-nocov = "pytest -m 'not uses_copyright_material and not requires_game'"
pre-commit = "pre-commit run --all-files"
mypy = "mypy ."
pylint = "pylint ark automate export tests ue utils processing"
flake = "flake8"
yapf = "yapf --diff --recursive ark automate export tests ue utils processing"
isort = "isort -c -rc"
fix-isort = "isort -rc"
fix-yapf = "yapf --in-place --recursive ark automate export tests ue utils processing"
i = "ipython -i -m interactive interactive/setup.py"
profile-species = "python -m cProfile -o automate.prof -m automate --skip-install asb.species"
profile-maps = "python -m cProfile -o automate.prof -m automate --skip-install wiki.maps"
profile-view = "snakeviz automate.prof"
time-island = "python -m timeit -r 10 -s 'from interactive.setup import loader' 'loader._load_asset(\"/Game/Maps/TheIslandSubmaps/TheIsland\")'"
mem-island = "python -m utils.measuremem 'from interactive.setup import loader' 'loader._load_asset(\"/Game/Maps/TheIslandSubmaps/TheIsland\")'"
time-genesis = "python -m timeit -r 10 -s 'from interactive.setup import loader' 'loader._load_asset(\"/Game/Maps/Genesis/Genesis\")'"
mem-genesis = "python -m utils.measuremem 'from interactive.setup import loader' 'loader._load_asset(\"/Game/Maps/Genesis/Genesis\")'"
time-discovery = "python -m timeit -n 1 -r 2 -s 'from interactive.setup import loader,config;from ark.discovery import _generate_hierarchy;config.mods=()' '_generate_hierarchy(loader)'"
mem-discovery = "python -m utils.measuremem 'from interactive.setup import loader,config;from ark.discovery import _generate_hierarchy;config.mods=()' '_generate_hierarchy(loader)'"
update-schema = "python -m ark.overrides"
compile-hook = "gcc utils/shootergameserver_fwrite_hook.c -o utils/shootergameserver_fwrite_hook.so -fPIC -shared -ldl -Wall"
